{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "location": {
      "value": "uksouth"
    },
    "prefix": {
      "value": "windows"
    },
    "vmSize": {
      "value": "Standard_B2s"
    },
    "resourceTags": {
      "value": { "owner":"Michael Pico"}
    },
    "adminUsername": {
      "value": ""
    },
    "adminPassword": {
      "value": ""
    },
    "sufix": {
      "value": "01"
    }
  }
}